
 *{
	box-sizing: border-box;
}



[class*="col-"] {
	float: left;
	padding: 15px;
	
}
.row {
	margin: 10px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

h1{
	color: brown;
	font-size: 40px;
}

img {
	max-width: 100%;
	height: auto;
	
}

.aa{
	margin:0 auto;
  margin-bottom: 20px;
  min-height: 200px;
  text-align: center;

}

.box{
	padding: 10px;
	margin: 20px;
	border: 2px solid #eaedf2;
	min-height: 500px;
}


.col-6{
	
	padding: 20px;

}

[class*='col-'] > p {
     background-color: #FFC125;
     padding: 0;
     margin: 0;
     text-align: center; 
     color: white; 
    }

